<div class="container">
	<h2> Log in to Boogie down</h2>

	<form action="/login" method="POST">
	  Email<input type="email" name="email"><br>
	  Password<input type="password" name="password"><br>
	  <input type="submit" value="submit" id="submit">
	</form>

	<h2> Sign Up to Get Up to Get Down</h2>

	<form action="/newuser" method="POST">
	  First Name<input type="text" name="newuser[first_name]"><br>
	  Last Name<input type="text" name="newuser[last_name]"><br>
	  D.O.B.<input type="date" name="newuser[birthdate]"><br>
	  Email<input type="email" name="newuser[email]"><br>
	  Password<input type="password" name="newuser[password]"><br>
	  <input type="submit" value="submit" id="submit">
	</form>
</div>
