<h2>Make a New Event!</h2>

  <form action="/newevent" method='POST' id="neweventform">
      Title: <input type="text" name="name" id="name"><br>
      Location: <input type="text" name="location" id="location"><br>
      From <input type="date" name="starts_at" id="starts_at"><br>
      Until: <input type="date" name="ends_at" id="ends_at"><br>
      <input type="submit" value="Submit" >
  </form>